<p>
  <a href='/'>Drawings</a>
</p>
<p>
  Editing <%= @drawing.name %><br/>
</p>
<% @models.each do |model| %>
  <%= model.name %><br/>
<% end %>
<script>
  $(document).ready(function() {
    alert('hello');
  });
</script>
